@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 32, 32, 32;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
